*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.base{
    position: relative;
    width: 60%;
    /* width: calc(100% / 3);
    float: left; */
    /* width: calc (100% /3); */
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 20px;
}


row{
    height: 600px;
    margin: 0 auto;
}
.photo{ 
    position: relative;     
    display: inline-block;

}

.photo:hover .nascosta{
    display: inline-block;
    z-index: 5;

}

.photo:hover .visibile{
    display: none;
}

.photo img:last-of-type{
    display: none;
}
/*colore background della 3 
.tre{
    background-color: green;
} */

.dimensione{
    width: 350px;

}

/* da ottiminizzare */
.cuore{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 10px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
    z-index: 5;
    font-size: 35px;
    background-color: white;
    text-align: center;
    
}

.sconto{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 40px;
    height: 25px;
    z-index: 5;
    padding-top: 5px;
    font-weight: 700;
    background-color:#EB0037;
    text-align: center;
    color: white;

}

.sostenibilita{
    display: inline-block;
    position: absolute;
    left: 45px;
    bottom: 70px;
    width: auto;
    height: 25px;
    z-index: 5;
    font-weight: 600;
    padding: 5px;
    background-color:green;
    text-align: center;
    color: white;

}

.block{
    display: block;
}

.price{

    display: inline-block;
    color: red;
}
.old.price{

    text-decoration-line: line-through;
    color: black;
}

/* fine common */