*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.base{
    width: 60%;
    margin: 0 auto;
}

/* fine common */
row{
    height: 500px;
    margin: 0 auto;
}
.photo{  
    display: inline-block;

}

.photo :last-child{
    display: none;
}

.dimensione{
    width: 350px;

}